/sublime-text-3/Cache
/sublime-text-3/Local/Auto Save Session.sublime_session
/sublime-text-3/Local/Session.sublime_session
/sublime-text-3/Index/CURRENT
/sublime-text-3/Index/LOG
/sublime-text-3/Index/LOG.old
                 
